<p class="status">Friend Request Sent to
  <%= @user.name %>
</p>

<% friendship = current_user.sent_requests.find_by(friend_id: @user.id) %>

  <%= form_for friendship, html: { method: :delete } do |f| %>
  <%= f.hidden_field :friendship_id, value: friendship.id %>
  <%= f.submit 'Cancel Friend Request', class: "btn btn-warning" %>
<% end %>
