<header>
  <nav class="site-navbar navbar">
  <div class="nav-content">
    <%= link_to "", root_path, class: "logo navbar-brand" %>
    <%= render 'shared/new_session' %>
    </div>
  </nav>
</header>
