<div class="dropdown show">
  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Notifications
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

    <% pending_friends = current_user.pending_friends_notification %>

      <% if pending_friends.any? %>
        <% pending_friends.each do |user| %>
          <%= link_to user.name, user, class: 'dropdown-item' %>
        <% end %>
          <%= link_to 'Show all', pending_requests_path, class: 'dropdown-item' %>
      <% else %>
        No pending request
      <% end %>

    </div>
  </div>
