<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>

    <%= render 'layouts/rails_default' %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
